<div *ngIf="g.showForm" class="form-body">
    <form [formGroup]="formEmployee" (ngSubmit)="onSave(formEmployee.value)">
        <div class=left-form>
            <input type="hidden" name="empId" id="empId" formControlName="empId">
            <mdl-textfield type="text" label="First Name" formControlName="firstName" floating-label></mdl-textfield>
            <mdl-textfield type="text" label="Last Name" formControlName="lastName" floating-label></mdl-textfield>
            <md-select class="md-select" placeholder="Gender" formControlName="gender">
                <md-option *ngFor="let gender of lookupList.gender" value="{{gender}}">{{gender}}</md-option>
            </md-select>
            <md2-datepicker class="date-picker" openOnFocus="true" format="dd/MM/y" type="date" placeholder="Date Of Birth" style="width: 300px"
                formControlName="dob"></md2-datepicker>
            <mdl-textfield type="text" label="Nationality" formControlName="nationality" floating-label></mdl-textfield>
            <md-select class="md-select" placeholder="Marital Status" formControlName="maritalStatus">
                <md-option *ngFor="let maritalStatus of lookupList.maritalStatus" value="{{maritalStatus}}">{{maritalStatus}}</md-option>
            </md-select>
            <mdl-textfield type="text" pattern="-?[0-9,+]*(\.[0-9,+]+)?" error-msg="Input is not a number!" label="Phone" formControlName="phone"
                floating-label></mdl-textfield>
            <mdl-textfield type="text" label="Email" formControlName="email" floating-label></mdl-textfield>
        </div>
        <div class=right-form>
            <mdl-textfield type="text" label="Sub Division" formControlName="subDivision" floating-label></mdl-textfield>
            <md-select class="md-select" placeholder="Status" formControlName="status">
                <md-option *ngFor="let status of lookupList.status" value="{{status}}">{{status}}</md-option>
            </md-select>
            <md2-datepicker class="date-picker" openOnFocus="true" format="dd/MM/y" type="date" placeholder="Suspend Date" style="width: 300px"
                formControlName="suspendDate"></md2-datepicker>
            <md2-datepicker class="date-picker" openOnFocus="true" format="dd/MM/y" type="date" placeholder="Hired Date" style="width: 300px"
                formControlName="hiredDate"></md2-datepicker>
            <md-select class="md-select" placeholder="Grade" formControlName="grade">
                <md-option *ngFor="let grade of lookupList.grade" value="{{grade}}">{{grade}}</md-option>
            </md-select>
            <md-select class="md-select" placeholder="Division" formControlName="division">
                <md-option *ngFor="let division of lookupList.division" value="{{division}}">{{division}}</md-option>
            </md-select>
            <md-select class="md-select" placeholder="Location" formControlName="location">
                <md-option *ngFor="let location of g.locations" value="{{location.locationCity}}">{{location.locationCity}}</md-option>
            </md-select>
        </div>
        <div class="form-img">
            <img class="img" [src]="empImage | safeUrl" (click)="fileInput.click()">
            <button class="upload-icon" (click)="fileInput.click()" md-icon-button><md-icon svgIcon="camera"></md-icon></button>
        </div>
        <input #fileInput type="file" hidden="hidden" (change)="onChange($event)" accept="image/*" />
        <div class="form-btn">
            <div class="btn">
                <button md-raised-button (click)="onCancel()">CANCEL</button>
                <button md-raised-button color="accent" type="submit" [disabled]="!formEmployee.valid">SAVE</button>
            </div>
        </div>
    </form>
</div>
<div *ngIf="!g.showForm" style="height:100%; width:100%; display: table;">
    <a style="display: table-cell; vertical-align: middle; text-align:center">No employee selected.</a>
</div>