<div *ngIf=initialEmployee class="form-body">
    <div class=left-form>
        <div mdl class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [class.is-dirty]="initialEmployee.firstName">
            <input class="mdl-textfield__input" type="text" id="firstName" [(ngModel)]="initialEmployee.firstName" [value]="initialEmployee.firstName">
            <label class="mdl-textfield__label" for="firstName">First Name</label>
        </div>
        <div mdl class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [class.is-dirty]="initialEmployee.lastName">
            <input class="mdl-textfield__input" type="text" id="lastName" [(ngModel)]="initialEmployee.lastName" [value]="initialEmployee.lastName">
            <label class="mdl-textfield__label" for="lastName">Last Name</label>
        </div>
        <material-select [name]="'gender'" [(selectedValue)]="initialEmployee.gender" [items]="lookupList.gender" [label]="'Gender'"></material-select>
        <md2-datepicker class="date-picker" format="dd/MM/y" type="date" placeholder="Date Of Birth" style="width: 300px" [(ngModel)]="initialEmployee.dob"></md2-datepicker>
        <div mdl class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [class.is-dirty]="initialEmployee.nationality">
            <input class="mdl-textfield__input" type="text" id="Nationality" [(ngModel)]="initialEmployee.nationality" [value]="initialEmployee.nationality">
            <label class="mdl-textfield__label" for="nationality">Nationality</label>
        </div>
        <div mdl class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [class.is-dirty]="initialEmployee.maritalStatus">
            <input class="mdl-textfield__input" type="text" id="maritalStatus" [(ngModel)]="initialEmployee.maritalStatus" [value]="initialEmployee.maritalStatus">
            <label class="mdl-textfield__label" for="maritalStatus">Marital Status</label>
        </div>
        <div mdl class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [class.is-dirty]="initialEmployee.phone">
            <input class="mdl-textfield__input" type="text" id="phone" [(ngModel)]="initialEmployee.phone" [value]="initialEmployee.phone">
            <label class="mdl-textfield__label" for="phone">Phone</label>
        </div>
        <div mdl class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [class.is-dirty]="initialEmployee.email">
            <input class="mdl-textfield__input" type="text" id="email" [(ngModel)]="initialEmployee.email" [value]="initialEmployee.email">
            <label class="mdl-textfield__label" for="email">Email</label>
        </div>
    </div>
    <div class=right-form>
        <div mdl class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [class.is-dirty]="initialEmployee.subDivision">
            <input class="mdl-textfield__input" type="text" id="subDivision" [(ngModel)]="initialEmployee.subDivision" [value]="initialEmployee.subDivision">
            <label class="mdl-textfield__label" for="subDivision">Sub Division</label>
        </div>
        <div mdl class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [class.is-dirty]="initialEmployee.status">
            <input class="mdl-textfield__input" type="text" id="status" [(ngModel)]="initialEmployee.status" [value]="initialEmployee.status">
            <label class="mdl-textfield__label" for="status">Status</label>
        </div>
        <md2-datepicker class="date-picker" format="dd/MM/y" type="date" placeholder="Suspend Date" style="width: 300px" [(ngModel)]="initialEmployee.suspendDate"></md2-datepicker>
        <md2-datepicker class="date-picker" format="dd/MM/y" type="date" placeholder="Hired Date" style="width: 300px" [(ngModel)]="initialEmployee.hiredDate"></md2-datepicker>
        <material-select [name]="'grade'" [(selectedValue)]="initialEmployee.grade" [items]="lookupList.grade" [label]="'Grade'"></material-select>
        <material-select [name]="'division'" [(selectedValue)]="initialEmployee.division" [items]="lookupList.division" [label]="'Division'"></material-select>
        <div mdl class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [class.is-dirty]="initialEmployee.location">
            <input class="mdl-textfield__input" type="text" id="location" [(ngModel)]="initialEmployee.location" [value]="initialEmployee.location">
            <label class="mdl-textfield__label" for="location">Location</label>
        </div>
    </div>
    <div class="form-img">
        <img class="img" src="src/images/no-image.png">
        <button class="upload-icon" md-icon-button><md-icon svgIcon="camera"></md-icon></button>
    </div>
    <div class="form-btn">
        <div class="btn">
            <button md-raised-button (click)="onCancel()">CANCEL</button>
            <button color="accent" (click)="onSave()" md-raised-button>SAVE</button>
        </div>
    </div>
</div>

<!--<md-select class="md-input md-select" placeholder="Gender" [(ngModel)]="initialEmployee.gender">
            <md-option *ngFor="let gender of lookupList.gender" value="{{gender}}">
                {{gender}}
            </md-option>
        </md-select>-->