<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [class.is-dirty]="!!selectedValue" >
    <input class="mdl-textfield__input" type="text" id="{{name}}" #selectedText [value]="selectedValue" readonly>
    <label [attr.for]="name">
        <span class="arrow-icon"></span>
    </label>
    <label [attr.for]="name" class="mdl-textfield__label">{{label}}</label>
    <ul [attr.for]="name" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
        <li class="mdl-menu__item" *ngFor="let item of items" (click)="selectItem(item)" [style.width]="selectedText.clientWidth">{{item}}</li>
    </ul>
</div>
