.top-bar-div {
    box-sizing: border-box;
    position: absolute;
    height: 50px;
    width: 100%;
    top: 0px;   
    left: 0px;
    background-color: #34a0ed; 
    color: white;
}

.left-search-menu {
    float: left;
    padding: 5px 0px 0px 0px;
}

.right-search-menu {
    float: right;
    padding: 5px 0px 0px 0px;
}

.left-search-input {
    float: left;
    margin-top: 5px;
    height: 45px;
}

.search-chip {
    float: right;
    padding: 9px 0px 0px 0px;
}

.input-search {
    width: 180px;
}

.delete-visible {
    width: 140px;
}

.filtered {
    background-color: #0072C6;
}

/deep/ .search-mdinput .mat-input-wrapper .mat-input-table .mat-input-infix .mat-input-placeholder-wrapper .mat-input-placeholder.mat-empty {
    color: white;
}

/deep/ .search-mdinput .mat-input-wrapper .mat-input-table .mat-input-infix .mat-input-placeholder-wrapper .mat-input-placeholder.mat-float {
    color: white;
}

/deep/ .search-mdinput .mat-input-wrapper .mat-input-underline {
    border-color: white;
}
