<div *ngIf=selectedEmployee class="detail-body">
        <div class=left-detail>
            <md-input-container>
                <input class="md-input" mdInput placeholder="First Name" value="{{selectedEmployee.firstName}}">
            </md-input-container>
            <md-input-container>
                <input class="md-input" mdInput placeholder="Last Name" value="{{selectedEmployee.lastName}}">
            </md-input-container>
            <md-select class="md-input md-select" placeholder="Gender" [(ngModel)]="selectedGender">
                <md-option *ngFor="let gender of lookupList.gender">
                    {{gender}}
                </md-option>
            </md-select>
            <md-input-container>
                <input class="md-input" mdInput placeholder="Date Of Birth" value="{{selectedEmployee.dob}}">
            </md-input-container>
            <md-input-container>
                <input class="md-input" mdInput placeholder="Nationality" value="{{selectedEmployee.nationality}}">
            </md-input-container>
            <md-input-container>
                <input class="md-input" mdInput placeholder="Marital Status" value="{{selectedEmployee.maritalStatus}}">
            </md-input-container>
            <md-input-container>
                <input class="md-input" mdInput placeholder="Phone" value="{{selectedEmployee.phone}}">
            </md-input-container>
            <md-input-container>
                <input class="md-input" mdInput placeholder="Email" value="{{selectedEmployee.email}}">
            </md-input-container>
        </div>
        <div class=right-detail>
            <md-input-container>
                <input class="md-input" mdInput placeholder="Sub Division" value="{{selectedEmployee.subDivision}}">
            </md-input-container>
            <md-input-container>
                <input class="md-input" mdInput placeholder="Status" value="{{selectedEmployee.status}}">
            </md-input-container>
            <md-input-container>
                <input class="md-input" mdInput placeholder="Suspend Date" value="{{selectedEmployee.suspendDate}}">
            </md-input-container>
            <md-input-container>
                <input class="md-input" mdInput placeholder="Hired Date" value="{{selectedEmployee.hiredDate}}">
            </md-input-container>
            <md-select class="md-input md-select" placeholder="Grade" [(ngModel)]="selectedGrade">
                <md-option *ngFor="let grade of lookupList.grade">
                    {{grade}}
                </md-option>
            </md-select>
            <md-select class="md-input md-select" placeholder="Division" [(ngModel)]="selectedDivision">
                <md-option *ngFor="let division of lookupList.division">
                    {{division}}
                </md-option>
            </md-select>
            <md-input-container>
                <input class="md-input" mdInput placeholder="Location" value="{{selectedEmployee.location}}">
            </md-input-container>
        </div>
        <div class="detail-img">
            <img class="img" src="src/images/no-image.png">
            <button class="upload-icon" md-icon-button><md-icon svgIcon="camera"></md-icon></button>
        </div>
        <div class="detail-btn">
            <div class="btn">
                <button md-raised-button>CANCEL</button>
                <button color="accent" md-raised-button>SAVE</button>
            </div>
        </div>
</div>