<div mwSelected class="emp-card" (click)="onClick(employee)" [class.emp-card-selected]="employee == g.selectedEmployee">
    <img class="img-card" [src]="setImage() | safeUrl">
    <div class="card-left">
        <a class="emp-name">{{employee.firstName}} {{employee.lastName}}</a><br>
        <a class="emp-info">{{employee.grade}}, {{employee.division}}<br>
                            {{employee.location.locationCity}}, {{employee.phone}}</a>
    </div>
    <div class="card-right">
        <a class="emp-info">{{employee.hiredDate}}</a><br> 
        <!--| date:'shortDate' -->
        <div class="card-right-icon">
            <md-icon svgIcon="radio_button_checked"></md-icon>
            <md-icon svgIcon="chevron_right"></md-icon>
        </div>
    </div>
</div>